@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
  --font-cursive: "Great Vibes", cursive;
  
  --animate-slide-down: slide-down 0.35s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-fade-in: fade-in 0.2s ease-out forwards;
  
  @keyframes slide-down {
    0% {
      transform: translate3d(0, -2rem, 0);
      opacity: 0;
    }
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

body {
  font-family: var(--font-sans);
}